.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  display: inline-block;
  font-family: monospace;
  font-size: 18px;
}

.header-sec-title {
  font-size: 12px;
  color: bisque;
  font-family: serif;
}

.App-link {
  color: #61dafb;
}

.main-content {
  width: 96%;
  margin: 8px auto;
  background: #eee;
  border-radius: 6px;
  padding: 10px 0px 40px 0;
}

.main-content .filter-select {
  padding: 10px 0 28px 0;
}

.main-content .filter-select .ant-radio-group .ant-radio-wrapper {
  margin-right: 8px;
  display: inline-block;
}

.uploader-buttons {
  margin-left: 12px;
}

.uploader-buttons span {
  display: inline-block;
  margin-right: 12px;
}

.main-content .pic-wrap {
  display: inline-block;
  width: 45%;
  position: relative;
}

.main-content .pic-img {
  width: 96%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
